/* styles go here */
.fieldset {
  margin-top: 20px;
}

.fieldset:first-of-type {
  margin-top: 0;
}

.fieldset div {
  padding: 5px 0;
}

.fieldset div:first-of-type {
  padding-top: 0;
}

.fieldset div:last-of-type {
  padding-bottom: 0;
}
